<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pratibha.whattocook" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/icon_app"
            android:label="What to cook?" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddIngredientsActivity"
            android:label="@string/add_ingredient_title"
            android:theme="@style/IngredientTheme" >
        </activity>
        <activity
            android:name=".AddRecipeActivity"
            android:label="@string/add_recipe_title" >
        </activity>
        <activity
            android:name=".RecipesListActivity"
            android:label="@string/recipes_list" >
        </activity>
        <activity android:name=".RecipeDetailsActivity" >
        </activity>

        <service
            android:name=".PlaySoundService1"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".PlaySoundService2"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
